
@import url("//fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300");
/* ----------------------------------------------------------------------------
 * Base
 */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

hr {
	border: 0;
	height: 2px;
	background: #333;
	background-image: linear-gradient(to right, #4BC9C3, #0000ff);
}

ol,
ul {
	list-style: none;
}

a img {
	border: none;
}
html,
body {
	height: 100%;
	background-color: #252525;
}
html {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
}

@media only screen and (min-width: 0) {
	html {
		font-size: 14px
	}
}

@media only screen and (min-width: 992px) {
	html {
		font-size: 14.5px
	}
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 15px
	}
}
body,
td,
textarea,
input {
	font-family: Helvetica Neue, Open Sans, sans-serif;
	line-height: 1.6;
	font-size: 13px;
	color: #fff;
}
@media (max-width: 480px) {
	body,
	td,
	textarea,
	input {
		font-size: 12px;
	}
}
a {
	color: #004487;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #228a8a;
}

h3 {
	color: #BCC8D3;
}
/* ----------------------------------------------------------------------------
 * Content
 */

.collapsible {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: .5rem 0 1rem 0
}

.collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd
}

.collapsible-header:focus {
	outline: 0
}

.collapsible-header i {
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem
}

.keyboard-focused .collapsible-header:focus {
	background-color: #eee
}

.panel {
	border-bottom: 1px solid #009ab0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	background-color: #009ab0;
	padding: 2rem;
	padding-bottom: 3rem;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}

@media only screen and (max-width: 700px){
	.collapsible{
		width: 100%;
		border: 0px;
		margin: 0 0 0 0px;
	}
	.collapsible-header {
		margin: 0px;
		padding: 0px;
	}
	.panel{
		margin: 0 0 0 0px;
		width: inherit;
		border: 0px;
		-webkit-box-shadow: 0px;
		box-shadow: 0px;
	}
	.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
		-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2)
	}
	.collapsible .panel{
		margin: 0px;
		padding: 0px;
	}

}

table {
	width: 100%;
	display: table;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: middle;

}

.content table {
	width: 100%;
	margin-top: 10px;
	color: #000;
	margin-bottom: 10px;
	padding: 0;
	border-collapse: collapse;
	clear: both;
	float: left;
}
.content table tr{
	border-top: 1px solid #ccc;
	background-color: transparent;
}
.content table tr :nth-child(2n){
	background-color: inherit;
}
.content table tr td{
	border: 0;
	border-collapse: collapse;
	margin: 0;
	padding: 20px 13px;
}
.content table tr th :first-child, .content table tr td :first-child{
	margin-top: 0;
}
.content table tr th :last-child, .content table tr td :last-child{
	margin-bottom: 0;
}

#footer table tr td{
	border: 0;
	border-collapse: collapse;
	padding: 6px 13px;
	vertical-align: top;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.panel .give-code ol {
	list-style-type: upper-latin;
	padding-bottom: 35rem;
}

.bottom-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
	z-index: 1;
	-webkit-tap-highlight-color: transparent
}

.bottom-nav__action {
	padding: 8px 12px;
	min-width: 56px;
	max-width: 144px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: #757575;
	text-decoration: none
}

.bottom-nav__action:not(:last-child) {
	margin-right: 12px
}

.bottom-nav__action--active {
	padding-top: 6px;
	color: #f44336
}

.bottom-nav__icon {
	display: block;
	width: 1em;
	height: 1em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	font-size: 24px
}

.bottom-nav__icon path, .bottom-nav__icon polygon, .bottom-nav__icon rect {
	fill: currentColor
}

.bottom-nav__icon circle {
	stroke: currentColor;
	stroke-width: 1
}

.bottom-nav__label {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Droid Sans, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	display: block;
	font-size: 12px
}

.bottom-nav__action--active .bottom-nav__label {
	font-size: 14px
}

.no-labels-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
	border-top: 1px solid #e0e0e0;
	background-color: #009688;
	z-index: 1;
	-webkit-tap-highlight-color: transparent
}

.no-labels-nav__action {
	padding: 16px 12px;
	min-width: 32px;
	max-width: 72px;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: #e0e0e0;
	text-decoration: none
}

.no-labels-nav__action:not(:last-child) {
	margin-right: 12px
}

.no-labels-nav__action--active {
	padding-top: 6px;
	color: #fff;
	padding-bottom: 8px;
	min-width: 56px;
	max-width: 144px
}

.no-labels-nav__icon {
	display: block;
	width: 1em;
	height: 1em;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px
}

.no-labels-nav__icon path, .no-labels-nav__icon polygon, .no-labels-nav__icon rect {
	fill: currentColor
}

.no-labels-nav__icon circle {
	stroke: currentColor;
	stroke-width: 1
}

.no-labels-nav__action--active .no-labels-nav__icon {
	margin-bottom: 4px
}

.no-labels-nav__label {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Droid Sans, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	display: none
}

.no-labels-nav__action--active .no-labels-nav__label {
	font-size: 14px;
	display: block
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  background-color: transparent;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
	width: 100%;
  }
}

.menu ul{
	text-align:center;
}

.menu ul li {
	text-align: center;
	display:inline-block;
	background-color: #151821;
	list-style-type:none;
	font-size: 12px;
	padding-left:10px;
	padding-right:0px;
}
.navbar-nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}
.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0
}
